#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

#home p{
    font-size: 14px;
    color: var(--text-primary);
    text-align: center;
}

.logotypes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 50px;
}

@media (min-width: 768px) {
    .logotypes{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .logotypes img{
        width: 144px;
        height: 45px;
    }
}
