.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
    padding: 10px;
}

.item {
    position: relative;
    width: 90%;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
}

.item a {
    width: 100%;
    height: 100%;
    object-fit: cover;

    display: block;
    background-size: cover;
    background-position: center;

}

.link {
    color: white;
}

.item-large, .item-medium {
    display: none;
}

.portfolio-section h2{
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
}

.portfolio-description {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: var(--text-tertiary);
    width: 90%;
    margin: 40px auto;
}

.grid-container {
    position: relative;
}

.grid-container > .item:first-child {
    position: relative;
    z-index: 1;
}


.image-overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.image-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.image-overlay-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  z-index: 2;
}

  

/* Tablet */
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(5, minmax(200px, 1fr));
        gap: 0;
    }
    
    .item {
        width: 100%;
        margin: 0;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 80vh;
        position: relative;
    }

    .item {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .desktop-wide {
        grid-column:1 / span 2;
        grid-row: 3 / span 1;

    }

    .desktop-large {
        grid-column: span 2;
        grid-row: span 2;
    }

    #first-large {
        grid-column: 3 / span 2;
        grid-row: 1 / span 2;
    }
    
    .desktop-tall {
        grid-row: span 2;
    }


    .portfolio-description {
        font-family: 'Inter', sans-serif;
        font-size: 1.2rem;
        text-align: center;
        width: 20%;
        margin: 40px auto;
    }
}