:root{
    --color-primary: #B9F2A1;
    --hover-primary: #9FD78A;

    --text-primary: black;
    --text-secondary: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Inter', sans-serif;
}

.btn-primary, .btn-secondary {
    width: auto;
    min-width: 120px;
    padding: 12px 24px;
}

.btn-primary{
    background-color: var(--color-primary);
    color: var(--text-primary);
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.btn-primary:hover{
    background-color: var(--hover-primary);
    color: var(--text-primary)
}

.btn-secondary{
    color: var(--text-secondary);
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    border: solid 1px var(--color-primary);
    text-align: center;
}




.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    
}

.section-title{
    font-size: 30px;
    font-weight: 600;
    color: var(--text-primary);
    text-align: center;
}
/* Tablet */
@media (min-width: 768px) {
    #mobile-shape{
        display: none;
    }
    #desktop-shape{
        display: block;
    }
}


/* Desktop */
@media (min-width: 1024px) {

}