:root{
    --color-primary: #B9F2A1;
    --hover-primary: #9FD78A;
    --hover-secondary: rgb(20 65 69);

    --text-primary: black;
    --text-secondary: white;
    --text-tertiary: rgba(93, 90, 90, 1);

    --background-secondary: rgba(185, 242, 161, 0.35);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Inter', sans-serif;
}

.btn-primary, .btn-secondary {
    width: 187px;
    height: 60px;
    padding: 18px 25px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}

.btn-primary{
    background-color: var(--color-primary);
    color: var(--text-primary);
    border: none;
    text-align: center;
}

.btn-primary:hover{
    background-color: var(--hover-primary);
    color: var(--text-primary)
}

.btn-secondary{
    color: var(--text-secondary);
    border: none;
    border: solid 1px var(--color-primary);
    text-align: center;
}

.btn-secondary:hover{
    color: var(--text-primary);
    background-color: var(--hover-primary);
}
section{
    margin: 20px 0;
}


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10%;
    
}

.section-title{
    font-size: 30px;
    font-weight: 600;
    color: var(--text-primary);
    text-align: center;
}
/* Tablet */
@media (min-width: 768px) {
    #mobile-shape{
        display: none;
    }
    #desktop-shape{
        display: block;
    }
}


/* Desktop */
@media (min-width: 1024px) {

}